<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="payment.sdk.android.googlepay.GooglePayActivity"
            android:theme="@style/SdkTheme.Translucent"
            android:exported="false" />
        <activity
            android:name="payment.sdk.android.cardpayment.visaInstalments.VisaInstallmentsActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.cardpayment.CardPaymentActivity"
            android:screenOrientation="behind"
            android:theme="@style/SdkTheme.Translucent"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity
            android:name="payment.sdk.android.cardpayment.threedsecure.ThreeDSecureWebViewActivity"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.cardpayment.threedsecuretwo.webview.ThreeDSecureTwoWebViewActivity"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.cardpayment.savedCard.SavedCardPaymentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.cardpayment.partialAuth.PartialAuthActivity"
            android:theme="@style/SdkTheme.ThreeDSecure"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>