<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name="payment.sdk.android.payments.PaymentsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="payment.sdk.android.visaInstalments.VisaInstallmentsActivity"
            android:theme="@style/SdkTheme.ThreeDSecure"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="payment.sdk.android.cardpayment.CardPaymentActivity"
            android:screenOrientation="behind"
            android:theme="@style/SdkTheme.Translucent"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity
            android:name="payment.sdk.android.cardpayment.threedsecure.ThreeDSecureWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.cardpayment.threedsecuretwo.webview.ThreeDSecureTwoWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.savedCard.SavedCardPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SdkTheme.ThreeDSecure" />
        <activity
            android:name="payment.sdk.android.aaniPay.AaniPayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/SdkTheme.ThreeDSecure">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="niannipay" android:host="open" />
            </intent-filter>
        </activity>
        <activity
            android:name="payment.sdk.android.partialAuth.PartialAuthActivity"
            android:theme="@style/SdkTheme.ThreeDSecure"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>